


@{
    ViewData["Title"] = "Privacy Policy";
    var emp = ViewData["empData"] as List<Employee>;
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>empId</td>
        <td>empName</td>
        <td>Designation</td>
        <td>Salary</td>
    </tr>
    @if (emp != null)
    {
        foreach(var item in emp)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.Designation</td>
                <td>@item.Salary</td>
            </tr>
        }
    }
    else
    {
        <h3>NOT DATA FOUND !</h3>
    }
</table>

<p>Use this page to detail your site's privacy policy.</p>
